@model IEnumerable<AuctionExpress.Models.TransactionListItem>

@{
    ViewBag.Title = "GetTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetTransaction</h2>

<p>
    @Html.ActionLink("Create New", "PostTransaction")  |
    @Html.ActionLink("All Transactions", "GetAllTransactions")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "PutTransaction", new { id=item.TransactionId }) |
            @Html.ActionLink("Details", "GetTransactionById", new { id=item.TransactionId }) |
            @Html.ActionLink("Delete", "DeleteTransaction", new { id=item.TransactionId })
        </td>
    </tr>
}

</table>
