@model IEnumerable<AuctionExpress.WebAPI.Models.UserListView>

@{
    ViewBag.Title = "GetUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetUsers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        @foreach (var role in item.UserRoles)
        {

            @Html.DisplayFor(modelItem => role)
 
        }
     </td>

        <td>
            @Html.ActionLink("Edit", "UpdateUser", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
