@model IEnumerable<AuctionExpress.Models.CategoryListItem>

@{
    ViewBag.Title = "GetCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetCategories</h2>

<p>
    @Html.ActionLink("Create New", "CreateCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCategory", new { id = item.CategoryId }) |
            @Html.ActionLink("Details", "GetCategoryById", new { id = item.CategoryId }) |
            @Html.ActionLink("Delete", "DeleteCategory", new {id = item.CategoryId })
        </td>
    </tr>
}

</table>
